.gui {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.gui-buttonb {
    width: 117px;
    height: 27px;
    background-position: -1px -1px;
}

.gui-buttonb2 {
    width: 117px;
    height: 27px;
    background-position: -120px -1px;
}

.gui-buttonb3 {
    width: 81px;
    height: 23px;
    background-position: -239px -1px;
}

.gui-chatWindow {
    width: 343px;
    height: 550px;
    background-position: -322px -1px;
}

.gui-infow {
    width: 343px;
    height: 284px;
    background-position: -667px -1px;
}

.gui-loginw {
    width: 247px;
    height: 90px;
    background-position: -1px -287px;
}

.gui-registerw {
    width: 247px;
    height: 160px;
    background-position: -667px -287px;
}

.gui-rogmor_198x63 {
    width: 198px;
    height: 63px;
    background-position: -916px -287px;
}

.gui-shortButton {
    width: 24px;
    height: 23px;
    background-position: -1012px -1px;
}

.gui-storyw {
    width: 343px;
    height: 284px;
    background-position: -667px -449px;
}

.gui-terep001 {
    width: 722px;
    height: 70px;
    background-position: -1px -735px;
}

.gui-transPanel {
    width: 247px;
    height: 160px;
    background-position: -1px -449px;
}

.gui-transPanelDark {
    width: 247px;
    height: 160px;
    background-position: -725px -735px;
}

.gui-xButton {
    width: 24px;
    height: 23px;
    background-position: -1038px -1px;
}
