.face-sprite {
  width: 40px;
  height: 40px;  
  background: url($asset + "sprites/faces.png") no-repeat;
  
  &[data-face="0"] { background-position:   -1px    -1px; }
  &[data-face="1"] { background-position:  -43px    -1px; }
  &[data-face="2"] { background-position:  -85px    -1px; }
  &[data-face="3"] { background-position: -127px    -1px; }
  &[data-face="4"] { background-position: -169px    -1px; }
  &[data-face="5"] { background-position: -211px    -1px; }
  &[data-face="6"] { background-position: -253px    -1px; }
  &[data-face="7"] { background-position: -295px    -1px; }
  &[data-face="8"] { background-position: -337px    -1px; }
  &[data-face="9"] { background-position: -379px    -1px; }
  &[data-face="10"] { background-position:   -1px  -43px; }
  &[data-face="11"] { background-position:  -43px  -43px; }
  &[data-face="12"] { background-position:  -85px  -43px; }
  &[data-face="13"] { background-position: -127px  -43px; }
  &[data-face="14"] { background-position: -169px  -43px; }
  &[data-face="15"] { background-position: -211px  -43px; }
  &[data-face="16"] { background-position: -253px  -43px; }
  &[data-face="17"] { background-position: -295px  -43px; }
  &[data-face="18"] { background-position: -337px  -43px; }
  &[data-face="19"] { background-position: -379px  -43px; }
  &[data-face="20"] { background-position:   -1px  -85px; }
  &[data-face="21"] { background-position:  -43px  -85px; }
  &[data-face="22"] { background-position:  -85px  -85px; }
  &[data-face="23"] { background-position: -127px  -85px; }
  &[data-face="24"] { background-position: -169px  -85px; }
  &[data-face="25"] { background-position: -211px  -85px; }
  &[data-face="26"] { background-position: -253px  -85px; }
  &[data-face="27"] { background-position: -295px  -85px; }
  &[data-face="28"] { background-position: -337px  -85px; }
  &[data-face="29"] { background-position: -379px  -85px; }
  &[data-face="30"] { background-position:   -1px -127px; }
  &[data-face="31"] { background-position:  -43px -127px; }
  &[data-face="32"] { background-position:  -85px -127px; }
  &[data-face="33"] { background-position: -127px -127px; }
  &[data-face="34"] { background-position: -169px -127px; }
  &[data-face="35"] { background-position: -211px -127px; }
  &[data-face="36"] { background-position: -253px -127px; }
  &[data-face="37"] { background-position: -295px -127px; }
  &[data-face="38"] { background-position: -337px -127px; }
  &[data-face="39"] { background-position: -379px -127px; }
  &[data-face="40"] { background-position:   -1px -169px; }
  &[data-face="41"] { background-position:  -43px -169px; }
  &[data-face="42"] { background-position:  -85px -169px; }
  &[data-face="43"] { background-position: -127px -169px; }
  &[data-face="44"] { background-position: -169px -169px; }
  &[data-face="45"] { background-position: -211px -169px; }
  &[data-face="46"] { background-position: -253px -169px; }
  &[data-face="47"] { background-position: -295px -169px; }
  &[data-face="48"] { background-position: -337px -169px; }
  &[data-face="49"] { background-position: -379px -169px; }
  &[data-face="50"] { background-position:   -1px -211px; }
  &[data-face="51"] { background-position:  -43px -211px; }
  &[data-face="52"] { background-position:  -85px -211px; }
  &[data-face="53"] { background-position: -127px -211px; }
  &[data-face="54"] { background-position: -169px -211px; }
  &[data-face="55"] { background-position: -211px -211px; }
  &[data-face="56"] { background-position: -253px -211px; }
  &[data-face="57"] { background-position: -295px -211px; }
  &[data-face="58"] { background-position: -337px -211px; }
  &[data-face="59"] { background-position: -379px -211px; }
  &[data-face="60"] { background-position:   -1px -253px; }
  &[data-face="61"] { background-position:  -43px -253px; }
  &[data-face="62"] { background-position:  -85px -253px; }
  &[data-face="63"] { background-position: -127px -253px; }
  &[data-face="64"] { background-position: -169px -253px; }
  &[data-face="65"] { background-position: -211px -253px; }
  &[data-face="66"] { background-position: -253px -253px; }
  &[data-face="67"] { background-position: -295px -253px; }
  &[data-face="68"] { background-position: -337px -253px; }
  &[data-face="69"] { background-position: -379px -253px; }
  &[data-face="70"] { background-position:   -1px -295px; }
  &[data-face="71"] { background-position:  -43px -295px; }
  &[data-face="72"] { background-position:  -85px -295px; }
  &[data-face="73"] { background-position: -127px -295px; }
  &[data-face="74"] { background-position: -169px -295px; }
  &[data-face="75"] { background-position: -211px -295px; }
  &[data-face="76"] { background-position: -253px -295px; }
  &[data-face="77"] { background-position: -295px -295px; }
  &[data-face="78"] { background-position: -337px -295px; }
  &[data-face="79"] { background-position: -379px -295px; }
  &[data-face="80"] { background-position:   -1px -337px; }
  &[data-face="81"] { background-position:  -43px -337px; }
  &[data-face="82"] { background-position:  -85px -337px; }
  &[data-face="83"] { background-position: -127px -337px; }
  &[data-face="84"] { background-position: -169px -337px; }
  &[data-face="85"] { background-position: -211px -337px; }
  &[data-face="86"] { background-position: -253px -337px; }
  &[data-face="87"] { background-position: -295px -337px; }
  &[data-face="88"] { background-position: -337px -337px; }
  &[data-face="89"] { background-position: -379px -337px; }
  &[data-face="90"] { background-position:   -1px -379px; }
  &[data-face="91"] { background-position:  -43px -379px; }
  &[data-face="92"] { background-position:  -85px -379px; }
  &[data-face="93"] { background-position: -127px -379px; }
  &[data-face="94"] { background-position: -169px -379px; }
  &[data-face="95"] { background-position: -211px -379px; }
  &[data-face="96"] { background-position: -253px -379px; }
  &[data-face="97"] { background-position: -295px -379px; }
  &[data-face="98"] { background-position: -337px -379px; }
  &[data-face="99"] { background-position: -379px -379px; }
}